[Desktop Entry]
Encoding=UTF-8
Name=Link to Food Composition Databases Show API Help
Type=Link
URL=https://ndb.nal.usda.gov/ndb/doc/index
Icon=text-html
