/* CSS declarations go here */

body {
  background-color: #f2f6f7;
}

@media (min-width: 1400px) {
  .container.food-matrix{
      width: 95vw
      
  }
  .container.new-food{
    /* width: 40vw    */
}
}


tr .remove-ing {
  visibility: hidden;
}

tr:hover .remove-ing {
  visibility: visible;
}

.toolbar-button {
  /*background-color: rgba(40, 158, 93, 0.9);*/
  /*border-color: rgba(40, 158, 93, 0.9);*/
  float: right;
  color: white;
  /*font-weight: bold;*/
}

#login {
  /*float: right;*/
  position: absolute;
  left: 75vw;
  top: 3vh;
  font-size: 14px;
}

#header-title {
  text-align:center;
  height: 50px;
  margin-top:20px;
  margin-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
}

#header-title h1 {
  margin: auto;
  vertical-align:middle;
  /*font-size: 2.5em;*/
}

#menu li.active a {
  /*background-color: #27AE5D;
  box-shadow: inset 0px 0px 50px 3px rgba(0,0,0,0.75);*/

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dee8ea+0,7db9e8+100&1+0,0+92,0+100 */
  background: -moz-linear-gradient(top, rgba(222,232,234,1) 0%, rgba(133,189,232,0) 92%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(222,232,234,1) 0%,rgba(133,189,232,0) 92%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(222,232,234,1) 0%,rgba(133,189,232,0) 92%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee8ea', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

  border-radius: 10px;
  color: black;
}

#menu li a {
  color: #949997;
  font-size: 1.3em;
  width: 140px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.react-numeric-input {
  background: #dee8ea;
  /*shadow: 0 0 1px 1px #fff inset, 1px 1px 5px -1px #000;*/
  padding: 2px 2.26ex 2px 2px;
  /*border-radius: 0px;*/
  /*border: 0px;*/
  /*font-size: 32*/
}

.price-input {
  /*border-radius: 0px;*/
  background: #dee8ea;
  color: #205635;
  padding: 0ex 1ex 0px 1ex !important;
  border: 0px solid #dee8ea !important;
  margin-right: 4;
  display: block;
  width: 90px;
  font-weight: 200;
  /*shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)*/
}

.price-input:focus {
    border: 1px inset #69C !important;
    outline: none;
}

.react-numeric-input b {
  /*box-shadow: none !important;*/
  /*background: rgba(0, 0, 0, 0.05) !important;*/
  border-color: rgba(0, 0, 0, 0) !important;
  /*margin: 1px;*/
  /*height: 8px;*/
}

.react-numeric-input b :hover {
  /*position: absolute; right: 2px; width: 2.26ex; border-color: rgba(0, 0, 0, 0.1); border-style: solid; text-align: center; cursor: default; transition: all 0.1s; background: rgba(0, 0, 0, 0.1); box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 3px inset, rgba(255, 255, 255, 0.7) 1px 1px 3px inset; top: 2px; bottom: 50%; border-radius: 2px 2px 0px 0px; border-width: 1px 1px 0px;*/
  /*border: black 1px !important;*/
}

/* .remove-pref {
  float: right;
} */

.nav-tabs, .nav-pills {
    text-align:center;
}

.preferences > li {
  background-color: #dee8ea;
}

.preferences {
  margin-bottom: 180px;
}

.rangeslider-horizontal {
  width: 100%;
  display:inline-block !important;
  margin: 17px 2%;
}

.pref {
  height: 90px;
  width: 40%;
  display:inline-block;
  margin: 0px 10px;
  vertical-align: top;
}

.pref-wrapper {
  vertical-align: top;
}

.preferenceFoodName {
  font-size: 20px;
  font-weight: bold;
  color: #2e302f;
}

.preferenceFoodDescription {
  font-size: 0.8em;
  font-weight: bold;
  color: #545957;
}

.prefName {
  font-size: 14px;
  font-weight: bold;
}

.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  display: inline-block;
  margin: 5px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}
